<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar APK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Descarga de la Aplicación</h1>

    {% if qr_image %}
        <p>Escanea este código QR para descargar la aplicación:</p>
        <img src="data:image/png;base64,{{ qr_image|safe }}" alt="QR Code">
    {% else %}
        <p>Descarga la aplicación directamente:</p>
        <a href="{{ apk_url }}" download>
            <button style="padding: 10px 20px; font-size: 16px;">Descargar APK</button>
        </a>
    {% endif %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
